<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <h1 class="text-center font-bold text-3xl mt-20">Little URL Shortner</h1>
    <form class="w-full md:w-1/2 m-auto mt-12" action="/shortUrl" method="post">
        <input class="w-full md:w-9/12 ring-4 px-4 py-3" type="url" name="fullurl" placeholder="https://www.example.com/" required>
        <input type="submit" value="Shrink" class="md:w-2/12 bg-orange-400 border-4 mt-3 md:mt-0 border-orange-400 py-3 px-3 w-full md:px-6 text-white">
    </form>
    <br/>
    <% if(sUrl != "") { %>
    <p class="text-center w-1/2 m-auto text-gray-600"><%= sUrl %>  <a href='<%= sUrl %>' target="_blank"><i class="fa-solid fa-share ml-3"></i></a></p>
    <% } %>
</body>
</html>